.burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    content: "";

    @include transition(transform);

    display: block;
    width: 100%;
    height: 2px;

    position: absolute;
    left: 0;

    background-color: $white;

    transform: rotate(0deg);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.burger-menu__middle {
  display: block;
  width: 100%;
  height: 2px;

  background-color: $white;
}

.burger-menu--opened {
  &::before {
    @include transition(transform);

    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  &::after {
    @include transition(transform);

    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

.burger-menu--opened .burger-menu__middle {
  @include transition(transform);

  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
