.main-header {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;

  @include desktop {
    background-position: top center;
  }

  @media (max-width: 1179px) {
    background-position: top left;
  }

  @include tablet {
    background-position: top right;
  }

  @include mobile {
    background-position: top center;
  }
}
