.promo-features {
  width: 32%;
}

.promo-features__list {
  @include drop-list();

  padding-left: 15px;

  display: flex;
  flex-wrap: wrap;
}

.promo-features__item {
  width: 160px;
  min-height: 165px;

  margin-bottom: 10px;
}

.promo-features__item:nth-child(2n+1) {
  width: 190px;
  margin-right: 10px;
}
