.promo-adventure {
  width: 55%;
  margin-bottom: 245px;
  position: relative;

  @media (max-width: 1179px) {
    width: 42%;
    margin-right: 7%;
  }

  @include tablet {
    width: 100%;
    margin-bottom: 50px;
  }
}

.promo-adventure__shape-text {
  display: block;

  @include fullhd-only {
    clip-path: polygon(
      0px 0px,
      67.56% -4px,
      65.15% 31.66%,
      63.32% 69%,
      62.29% 96.67%,
      20% 100%,
      0px 100%,
      0px 53%
    );
  }
}

.promo-adventure__gradient-text {
  display: table;
  margin: 0;

  font-family: $font-primary;
  color: transparent;

  background: linear-gradient(
    60deg,
    $white 0%,
    #ffa488 60%,
    #ff450c 85%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &--uppercase {
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;

    @include tablet {
      display: block;
      text-align: right;
    }
  }

  &--lowercase {
    display: block;
    width: 55%;
    font-size: 25px;
    line-height: 27px;
    text-transform: lowercase;

    @media (max-width: 1179px) {
      width: 100%;
    }
  }

  &::selection {
    background: #ff9257;
  }

  @include tablet {
    text-align: right;
  }
}

.promo-adventure__text-wrapper {
  margin-bottom: 86px;

  @include tablet-landscape {
    margin-bottom: 35px;
  }
}

.promo-adventure__start-btn {
  position: relative;
  display: block;
  width: 181px;
  margin-bottom: 20px;

  background: linear-gradient(
    -15deg,
    #09213c 0%,
    #24599c 50%,
    #09213c 100%
  );

  @include tablet {
    display: block;
    margin: 0 0 0 auto;
  }
}

.promo-adventure__zigzag {
  @include fullhd-only {
    display: block;
  }

  display: none;
  position: absolute;
  top: 239px;
  left: 180px;
}
