.promo-features {
  width: 32%;

  @include tablet-landscape {
    width: 40%;
  }

  @include tablet {
    width: 100%;
  }

  @media (max-width: 619px) {
    display: flex;
    justify-content: center;
  }
}

.promo-features__list {
  @include drop-list();

  padding-left: 15px;

  display: flex;
  flex-wrap: wrap;

  @include tablet-landscape {
    justify-content: flex-end;
  }

  @media (max-width: 1179px) {
    padding: 0;
    justify-content: flex-start;
  }

  @include tablet {
    flex-direction: row;
    justify-content: flex-end;
  }

  @include mobile {
    justify-content: space-between;
  }

  @media (max-width: 619px) {
    width: 60%;
    justify-content: center;
  }

  @media (max-width: 520px) {
    width: 80%;
  }

  @media (max-width: 468px) {
    width: 100%;
  }
}

.promo-features__item {
  width: 160px;
  min-height: 165px;

  margin-bottom: 10px;

  @include tablet {
    width: 150px;
    height: 150px;

    margin-right: 10px;
  }

  @include mobile {
    width: 140px;
    height: 140px;
  }
}

.promo-features__item:nth-child(2n+1) {
  width: 190px;
  margin-right: 10px;

  @include tablet {
    margin-right: 10px;
  }

  @include mobile {
    width: 140px;
    height: 140px;
  }
}
