.promo-adventure {
  position: relative;
  margin-bottom: 180px;
}

.promo-adventure__shape-text {
  display: block;

  @include fullhd-only {
    clip-path: polygon(
      0px 0px,
      36.8% 0px,
      35.62% 38.33%,
      34.87% 65.67%,
      34.3% 93.34%,
      20% 100%,
      0px 100%,
      0px 53%
    );
  }
}

.promo-adventure__gradient-text {
  display: table;
  margin: 0;

  font-family: $font-primary;
  color: transparent;

  background: linear-gradient(
    60deg,
    $white 0%,
    #ffa488 60%,
    #ff450c 85%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &--uppercase {
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &--lowercase {
    display: block;
    width: 30%;
    font-size: 25px;
    line-height: 27px;
    text-transform: lowercase;
  }

  &::selection {
    background: #ff9257;
  }
}

.promo-adventure__text-wrapper {
  margin-bottom: 86px;
}

.promo-adventure__start-btn {
  position: relative;
  display: block;
  width: 181px;
  margin-bottom: 20px;

  background: linear-gradient(
    -15deg,
    #09213c 0%,
    #24599c 50%,
    #09213c 100%
  );
}

.promo-adventure__zigzag {
  @include fullhd-only {
    display: block;
  }

  display: none;
  position: absolute;
  top: 190px;
  left: 180px;
}
